img {
  padding-top: 50px;
  padding-left: 525px;
}

h1 {
  color: teal;
  padding-left: 460px;
  font-family: 'Times New Roman';
  text-decoration: underline;
}

p {
  padding-left: 530px;
  font-family: sans-serif;
  font-style: italic;
}

